/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */
header {
    background-color: rgb(25, 193, 219);
    /* width: 100%; */
    height: 60px;
    
        
}
/* regole nav generali */
#main-nav{
    display: flex;
    justify-content: center;          
    
}

#main-nav div{
    background-color: yellow;
    border: 1px solid black;
    border-style: dashed;
    height: 35px;
    margin-top: 11px;
    align-content: center; 
    flex-basis: 15%;
    display: flex;
    justify-content: space-evenly;
    
    }
    /* regole figli nav */
#lista-link{
    display: flex;  
    align-items: center;    
}

ul{
    list-style: none;
    display: flex; 
    gap: 3px; 
    margin: 0 130px;                     
}
/* regole tasti laterali */
.small-nav{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
        
}

#accedi{    
      align-items: flex-end;      
}
.small-nav span{
    margin-left: 5px;
    margin-right: 5px;
}

/* inizio regole main */

 /* regole macrosezione 1 */
.jumbotron{
    background-color: rgb(206, 22, 56);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jumbotron div{
    background-color: green;
    height: 70%;
    width: 60%;
    border: 1px solid black;
    border-style: dashed;
}
/* regole macrosezione 2 */
.macrosezione2{
    background-color: yellow;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.macrosezione2 span{
    height: 70%;
    border: 1px solid black;
    border-style: dashed;
   }

.macrosezione2 :first-child{
    background-color: rgb(12, 161, 9);
    flex-basis: 55%;
}
.macrosezione2 :last-child {
    background-color: fuchsia;
    flex-basis: 20%;
    
}
/* macrosezione3 */
 #inversa{    
        display: flex;
        background-color: rgb(22, 150, 213);
       
}
/* macrosezione3 */
#inversa :last-child{
    order: -1;       

}
 /* macrosezione5 */
 #sezione5 {
    height: 700px;
 }
 #sezione5 div{
    background-color: rgb(161, 207, 8);
    height: 80%;
    width: 75%;
    border: 1px solid black;
    border-style: dashed;
 }
 /* macrosezione 6 */
  .sezione6 {

        background-color: #00bfff;
        height: 450px;
        display: flex;
        justify-content: center;
        align-items: center;
  }
  .sezione6 span{
    height: 80%;
    border: 1px solid black;
    border-style: dashed;
    background-color: chocolate;
    flex-basis: 13%;
  }
  .sezione6 :first-child{
    background-color: pink;
    flex-basis: 22%;
  }
  
  /* fine-sezioni */

  /* footer */
  #second-nav{
    background-color: #00bfff;
    display: flex;
    justify-content: center;
    height: 70px;  
    align-items: flex-end; 
    
  }
  #second-nav div{
    background-color: yellow;
    border: 1px solid black;
    border-style: dashed;
    flex-basis: 40%;
    height: 40px;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
   }
   #second-nav :first-child{
    align-items: flex-start;
    display: flex;
      
   }
   #second-nav span{
    background-color: rgb(12, 200, 15);
    border: 1px solid black;
    border-style: dashed;
    height: 20px;
   }
   